<section class="todoapp">
 <header class="header">
  <h1>OtherWordly</h1>
    <%= form_for(@moment) do |f| %>
        <%= f.text_field :post_title, :class => "new-todo", :placeholder => "Name your Post"%>
        <%= f.text_area :define, :class => "new-todo", :placeholder => "Provide your moment!" %>
        <%= f.submit :style => "display: none" %> 
    <% end %>
  </form>
    </header>
      <section class="main" style="display: block;">
        <ul class="todo-list">
         <% @moments.each do |moment| %>
          <li data-id="1557121998480" class="">
            <div class = "view">
                <label><%= link_to moment.post_title, moment_path(moment) %></label>
            </div>
          </li>
         <% end %>
        </ul>
      </section>
</section>