<section class="todoapp">
 <header class="header">
 <h2><%= @moment.define %><h2>
 </header>
 
<section class="main" style="display: block;">
  <ul class="todo-list">
    <% @moment.words.each do |word| %>
   <li>
     <div class = "view">
      <label><%= word.name %></label>
     </div>
   </li>
   <% end %> 
 </ul>
 <%= form_for([@moment, @word]) do |f| %>
        <%= f.text_field :name, :class => "new-todo", :placeholder => "Place your Word"%>
        <%= f.submit :style => "display: none" %> 
    <% end %>
</section>
<footer class="footer">
  </footer>
</section>